<a href="https://colab.research.google.com/github/A-l-E-v/ML-Engineer/blob/main/2_1_intro_conspect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1 Pandas. Основы

Библиотека pandas нужна для работы с табличными данными. Она позволяет быстро обрабатывать большие объемы данных, выполнять ряд сложных преобразований и вычислений. За счет таких широких возможностей библиотека популярна среди аналитиков.

In [ ]:
# импортируем библиотеку
import pandas as pd

В качестве датасета для работы возьмем данные по фильмам сериалам с кагла: https://www.kaggle.com/datasets/asaniczka/full-tmdb-tv-shows-dataset-2023-150k-shows/data

## Чтение данных

Работа с данными начинается с того, что их нужно прочесть. Обычно датасеты хранят в виде эксель файлах, или файлах вида .csv.
CSV (Comma-Separated Values) — текстовый формат, предназначенный для представления табличных данных. где строка таблицы соответствует строке текста, которая содержит одно или несколько полей, разделённых запятыми.

В пандас за чтение даннх отвечает метод/функция read_csv().

In [ ]:
# прочитаем данные
df = pd.read_csv("/Users/19247629/Documents/orig/orig_df.csv")
df

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158561,235768,天罚-二战全纪实,1,100,zh,0,0.000,NaN,False,NaN,...,NaN,"Documentary, War & Politics",NaN,zh,NaN,CN,普通话,NaN,NaN,0
158562,235767,我们这一摊,1,13,zh,0,0.000,NaN,False,NaN,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158563,235766,山里来了熊孩子,1,13,zh,0,0.000,NaN,False,/qAdXlecuPyg2jb2GbRXzHEUcpmw.jpg,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158564,235765,开心超人联盟之勇敢之城1——棋兽传奇,1,6,zh,0,0.000,NaN,False,/ksuAmIZRkBMshJtkHtMDwyYLmDh.jpg,...,NaN,"Animation, Kids",NaN,NaN,"iQiyi, Youku, Mango TV, Tencent Video, Aniworl...",CN,NaN,广东明星创意动画有限公司,NaN,0
158565,38212,Anhoniyon Ka Andhera,0,0,en,0,0.000,Anhoniyon Ka Andhera is a weekly Indian televi...,False,NaN,...,NaN,NaN,NaN,en,Colors,IO,English,NaN,NaN,60

Видим большую таблицу на 160 тысяч строк и 29 столбцов. Такие таблицы еще называют датафреймами, поэтому часто переменные называют df, сокращенно от data frame.

In [ ]:
# при чтении данных можно указвыать не тольк ополный путь, но и относительный
df = pd.read_csv("../data/orig/orig_df.csv")
df.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

В этот раз для вывода данных мы применили метод head(), который выводит лишь первые пять строк - это помогает экономить место и не замусоривать вывод данных.

Иногда в качестве разделеителей внутри файла используют не запятые, а табуляции, которые представляют собой 4 пробела, а на машинном уровне имееют символ \t. В таком случае файл должен иметь расширение .tsv,  а не .csv

In [ ]:
# попробуем прочесть данные
df = pd.read_csv("../data/orig/orig_df_tabsep.tsv")
df.head()

ParserError: Error tokenizing data. C error: Expected 11 fields in line 7, saw 13

Видим ошибку. Это связано с тем, что мы не указали разделитель. В случае, если для разделения данных используется НЕ запятая, то обязательно надо указывать параметр sep.

In [ ]:
# прочитаем данные еще раз, но указав параметр sep
df = pd.read_csv("../data/orig/orig_df_tabsep.tsv", sep='\t')
df.head()

,Unnamed: 0,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

Еще для разделения данных часто применяют точку с запятой ";". Ее тоже необходимо указывать в разделитель.

In [ ]:
# без разделителя попытка прочесть данные выдаст ошибку
df = pd.read_csv("../data/orig/orig_df_semisep.csv")
df.head()

ParserError: Error tokenizing data. C error: Expected 11 fields in line 7, saw 13

In [ ]:
#  с параметром sep все считывается нормально
df = pd.read_csv("../data/orig/orig_df_semisep.csv", sep=';')
df.head()

,Unnamed: 0,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [ ]:
При желании с помощью метода read_csv мжно прочесть файлы с другими расширениями, при условии соблюдения форматов. Но лучше так не делать.

In [ ]:
df = pd.read_csv("../data/orig/requirements.txt")
df.head()

        numpy==1.24.2    test
0       pandas==1.5.3   test3
1     psycopg2==2.9.3     NaN
2         PyYAML==6.0     NaN
3    requests==2.28.1     NaN
4  simplejson==3.17.6     NaN

Чтобы прочесть эксель файл применяется метод read_excel().

In [ ]:
df = pd.read_excel("../data/orig/orig_df.xlsx")
df.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

Если эксель файл содержит несколько страниц, то будет прочитана первая, при условии, что метод применен без параметров.

In [ ]:
df = pd.read_excel("../data/orig/consulting.xlsx")
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [ ]:
# чтобы прочитать нужную страницу применяется параметр sheet_name
df = pd.read_excel("../data/orig/consulting.xlsx", sheet_name="CustomerDemographic")
df.head()

/var/folders/0l/z49zyz2n3_g2hd8pc14j7mzm2gwj7z/T/ipykernel_53446/2755657867.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = pd.read_excel("../data/orig/consulting.xlsx", sheet_name="CustomerDemographic")

,customer_id,name,gender,past_3_years_bike_related_purchases,DOB,age,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,34,Jephthah Bachmann,U,59,1843-12-21,NaN,Legal Assistant,IT,Affluent Customer,N,No,20.0
1,144,Jory Barrabeale,U,71,NaT,123.0,Environmental Tech,IT,Mass Customer,N,No,NaN
2,168,Reggie Broggetti,U,8,NaT,123.0,General Manager,IT,Affluent Customer,N,Yes,NaN
3,267,Edgar Buckler,U,53,NaT,123.0,NaN,IT,High Net Worth,N,No,NaN
4,290,Giorgio Kevane,U,42,NaT,123.0,Senior Sales Associate,IT,Mass Customer,N,No,NaN

In [ ]:
# если указать не существующую страницу, то получаем ошибку
df = pd.read_excel("../data/orig/consulting.xlsx", sheet_name="sheet1")
df.head()

ValueError: Worksheet named 'sheet1' not found

In [ ]:
# Считать эксель файл можно и таким способом
xls = pd.ExcelFile('../data/orig/consulting.xlsx')
sheet = xls.parse('CustomerDemographic')
sheet.head()

/var/folders/0l/z49zyz2n3_g2hd8pc14j7mzm2gwj7z/T/ipykernel_53446/2431941498.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  sheet = xls.parse('CustomerDemographic')

,customer_id,name,gender,past_3_years_bike_related_purchases,DOB,age,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,34,Jephthah Bachmann,U,59,1843-12-21,NaN,Legal Assistant,IT,Affluent Customer,N,No,20.0
1,144,Jory Barrabeale,U,71,NaT,123.0,Environmental Tech,IT,Mass Customer,N,No,NaN
2,168,Reggie Broggetti,U,8,NaT,123.0,General Manager,IT,Affluent Customer,N,Yes,NaN
3,267,Edgar Buckler,U,53,NaT,123.0,NaN,IT,High Net Worth,N,No,NaN
4,290,Giorgio Kevane,U,42,NaT,123.0,Senior Sales Associate,IT,Mass Customer,N,No,NaN

Если нужно прочитать все страницы в эксель файле, то проще всего это сделать в цикле, сохранив таблицы в список или словарь. Получить полный списко имен таблиц можно через .sheet_names

In [ ]:
# прочитаем все таблицы и добавим их в список. Получим список, где каждый элемент - это датафрейм.
df_list = []
for sheet  in xls.sheet_names:
    df = xls.parse(sheet)
    df_list.append(df)

/var/folders/0l/z49zyz2n3_g2hd8pc14j7mzm2gwj7z/T/ipykernel_53446/3947796218.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet)
/var/folders/0l/z49zyz2n3_g2hd8pc14j7mzm2gwj7z/T/ipykernel_53446/3947796218.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet)

In [ ]:
# сделаем тоже самое,  но теперь сохраним все в виде словаря, где в качсевте ключей будут имена таблиц
df_dict = {}
for sheet  in xls.sheet_names:
    df = xls.parse(sheet)
    df_dict[sheet] = df

/var/folders/0l/z49zyz2n3_g2hd8pc14j7mzm2gwj7z/T/ipykernel_53446/3947796218.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet)
/var/folders/0l/z49zyz2n3_g2hd8pc14j7mzm2gwj7z/T/ipykernel_53446/3947796218.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet)

## Создание датафрейма "вручную"

Датафрейм/таблицу можно не только прочитать из вне, но и собрать вручную.

In [ ]:
# За создание датафрейма отвечает DataFrame()
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

Видим, что таблица пуста, поэтому ничего не выводится. Подать данные на вход можно несколькими способами.

In [ ]:
# 1. задать таблицу по одному столбцу за раз, подавая на вход массивы с данными
df['number'] = [0,1,2]
df['letter_1'] = ["a", "b", "c"]
df['letter_2'] = ["x", "y", "z"]
df

   number letter_1 letter_2
0       0        a        x
1       1        b        y
2       2        c        z

In [ ]:
# 2. подать на вход массив с массивами, то есть дать данные по строчно.
# В таком случае надо задать имена столбцов с помощью columns
content = [[0, "a", "x"],
[1, "b", "y"],
[2, "c", "z"]]
pd.DataFrame(content, columns=['number', "letter_1", "letter_2"])

   number letter_1 letter_2
0       0        a        x
1       1        b        y
2       2        c        z

In [ ]:
# 3. подать на вход массив со словарями. колонки в таком случае задавать не нужно
content = [{'number': 0, "letter_1": "a", "letter_2": "x"} ,
          {'number': 1, "letter_1": "b", "letter_2": "y"},
          {'number': 2, "letter_1": "c", "letter_2": "z"}]
pd.DataFrame(content)

   number letter_1 letter_2
0       0        a        x
1       1        b        y
2       2        c        z

## Базовая информация о данных

Итак, мы научилиь считывать данные. Теперь научимся базовому анализу данных, который заключается в том, что мы смотрим, есть ли ошибки в данных, да и вообще из чего состоит таблица.

In [ ]:
# еще раз прочитаем наши данные
df = pd.read_csv("/Users/19247629/Documents/orig/orig_df.csv")
df

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158561,235768,天罚-二战全纪实,1,100,zh,0,0.000,NaN,False,NaN,...,NaN,"Documentary, War & Politics",NaN,zh,NaN,CN,普通话,NaN,NaN,0
158562,235767,我们这一摊,1,13,zh,0,0.000,NaN,False,NaN,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158563,235766,山里来了熊孩子,1,13,zh,0,0.000,NaN,False,/qAdXlecuPyg2jb2GbRXzHEUcpmw.jpg,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158564,235765,开心超人联盟之勇敢之城1——棋兽传奇,1,6,zh,0,0.000,NaN,False,/ksuAmIZRkBMshJtkHtMDwyYLmDh.jpg,...,NaN,"Animation, Kids",NaN,NaN,"iQiyi, Youku, Mango TV, Tencent Video, Aniworl...",CN,NaN,广东明星创意动画有限公司,NaN,0
158565,38212,Anhoniyon Ka Andhera,0,0,en,0,0.000,Anhoniyon Ka Andhera is a weekly Indian televi...,False,NaN,...,NaN,NaN,NaN,en,Colors,IO,English,NaN,NaN,60

Чтобы убедиться что данные прочитались правильно, достатточно посмотеть на первые строки. Если таблица выглядит как таблица, без явных странностей - значит данные считались верно.

In [ ]:
# посомтрим на первые пять строк
df.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [ ]:
#  если мы хотим посмотреть на первые N строк, то можно передать на вход head нужное нам число, пусть это убдет 15
df.head(15)

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
5,69050,Riverdale,7,137,en,13180,8.479,"Set in the present, the series offers a bold, ...",False,/soQgquPkLmUu9eKLJJzuA4KZDyi.jpg,...,"To save the future, they must survive the past.","Crime, Drama, Mystery",Roberto Aguirre-Sacasa,en,The CW,US,English,"Warner Bros. Television, Berlanti Productions,...",United States of America,45
6,93405,Squid Game,2,9,ko,13053,7.831,Hundreds of cash-strapped players accept a str...,False,/2meX1nMdScFOoV4370rqHWKmXhY.jpg,...,45.6 billion won is child's play,"Action & Adventure, Mystery, Drama",Hwang Dong-hyuk,"en, ko, ur",Netflix,KR,"English, 한국어/조선말, اردو","Siren Pictures, Firstman Studio",South Korea,0
7,1396,Breaking Bad,5,62,en,12398,8.890,"When Walter White, a New Mexico chemistry teac...",False,/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg,...,Change the equation.,"Drama, Crime",Vince Gilligan,"en, de, es",AMC,US,"English, Deutsch, Español","Sony Pictures Television Studios, High Bridge ...",United States of America,0
8,71712,The Good Doctor,6,116,en,11768,8.503,"Shaun Murphy, a young surgeon with autism and ...",False,/xXRsKNJHTOGrs5wfYAxkbM2RiyT.jpg,...,Everyone operates differently.,Drama,David Shore,en,ABC,US,English,"ABC Studios, 3AD, Sony Pictures Television Stu...",United States of America,43
9,85271,WandaVision,1,9,en,11308,8.300,Wanda Maximoff and Vision—two super-powered be...,False,/lOr9NKxh4vMweufMOUDJjJhCRHW.jpg,...,Experience a new vision of reality.,"Sci-Fi & Fantasy, Mystery, Drama",Jac Schaeffer,en,Disney+,US,English,Marvel Studios,United States of America,0
10,60735,The Flash,9,184,en,10642,7.797,After a particle accelerator causes a freak st...,False,/gNPWlhUXhyWiHv9qxr57tvT0WwS.jpg,...,The fastest man alive.,"Drama, Sci-Fi & Fantasy","Greg Berlanti, Geoff Johns, Andrew Kreisberg",en,The CW,US,English,"Warner Bros. Television, Berlanti Productions,...",United States of America,44
11,1418,The Big Bang Theory,12,279,en,10322,7.879,Physicists Leonard and Sheldon find their nerd...,False,/7RySzFeK3LPVMXcPtqfZnl6u4p1.jpg,...,Smart is the new sexy.,Comedy,"Chuck Lorre, Bill Prady",en,CBS,US,English,"Chuck Lorre Productions, Warner Bros. Television",United States of America,22
12,84958,Loki,2,12,en,10136,8.200,After stealing the Tesseract during the events...,False,/bZGAX8oMDm3Mo5i0ZPKh9G2OcaO.jpg,...,Loki's time has come.,"Drama, Sci-Fi & Fantasy",Michael Waldron,en,Disney+,US,English,Marvel Studios,United States of America,52
13,1416,Grey's Anatomy,19,419,en,9512,8.253,Follows the personal and professional lives of...,False,/ds1n5P0Y92cTh6UpbcA89hxM96a.jpg,...,Begin again.,Drama,Shonda Rhimes,en,ABC,US,English,"The Mark Gordon Company, ShondaLand, ABC Studi...",United States of America,43
14,82856,The Mandalorian,3,24,en,9353,8.500,"After the fall of the Galactic Empire, lawless...",False,/9zcbqSxdsRMZWHYtyCd1nXPr2xq.jpg,...,Bounty hunting is a complicated profession.,"Sci-Fi & Fantasy, Action & Adventure, Drama",Jon Favreau,en,Disney+,US,English,"Lucasfilm Ltd., Golem Creations, Fairview Ente...",United States of America,0

In [ ]:
#  если поставить отрицательное значение, например -5, то выведутся все строки с первой по -5ую, то есть по 158566-5=158561ую
df.head(-5)

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158556,235757,Captain Han,1,23,en,0,0.000,Han Xi Zhou and Xu Nan Nan split ten years ago...,False,/fU8KvODm7h2fRRBW4H6JbsrSqK4.jpg,...,NaN,NaN,NaN,zh,NaN,US,普通话,NaN,NaN,0
158557,235755,Pernikahan Dini,1,10,id,0,0.000,An unexpected incident that occurred at a part...,False,/dq2HKqPGRxTJIXBP6cD04BJ3Fnv.jpg,...,NaN,Drama,NaN,id,Disney+ Hotstar,ID,Bahasa indonesia,MD Pictures,Indonesia,46
158558,235754,"Zachraň se, kdo můžeš!",1,3,cs,0,0.000,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,CZ,NaN,NaN,NaN,0
158559,235753,Life 360,2,5,en,0,0.000,TV Show Details,False,NaN,...,NaN,NaN,NaN,NaN,NaN,US,NaN,NaN,NaN,0
158560,235769,Obituary,1,6,en,0,0.000,An obituarist working at a small-town newspape...,False,/uKVDsalydSWDTjdg7ALFP3vUWe.jpg,...,NaN,"Comedy, Crime, Drama",NaN,en,RTÉ One,IE,English,NaN,NaN,0

In [ ]:
# полный размер данных можно узнать с помощью shape
df.shape

(158566, 29)

In [ ]:
# если мы хотим увидеть конец данных, то применяется метод tail()
df.tail()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
158561,235768,天罚-二战全纪实,1,100,zh,0,0.0,NaN,False,NaN,...,NaN,"Documentary, War & Politics",NaN,zh,NaN,CN,普通话,NaN,NaN,0
158562,235767,我们这一摊,1,13,zh,0,0.0,NaN,False,NaN,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158563,235766,山里来了熊孩子,1,13,zh,0,0.0,NaN,False,/qAdXlecuPyg2jb2GbRXzHEUcpmw.jpg,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158564,235765,开心超人联盟之勇敢之城1——棋兽传奇,1,6,zh,0,0.0,NaN,False,/ksuAmIZRkBMshJtkHtMDwyYLmDh.jpg,...,NaN,"Animation, Kids",NaN,NaN,"iQiyi, Youku, Mango TV, Tencent Video, Aniworl...",CN,NaN,广东明星创意动画有限公司,NaN,0
158565,38212,Anhoniyon Ka Andhera,0,0,en,0,0.0,Anhoniyon Ka Andhera is a weekly Indian televi...,False,NaN,...,NaN,NaN,NaN,en,Colors,IO,English,NaN,NaN,60

In [ ]:
# в него так же можно подать любое число
df.tail(10)

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
158556,235757,Captain Han,1,23,en,0,0.0,Han Xi Zhou and Xu Nan Nan split ten years ago...,False,/fU8KvODm7h2fRRBW4H6JbsrSqK4.jpg,...,NaN,NaN,NaN,zh,NaN,US,普通话,NaN,NaN,0
158557,235755,Pernikahan Dini,1,10,id,0,0.0,An unexpected incident that occurred at a part...,False,/dq2HKqPGRxTJIXBP6cD04BJ3Fnv.jpg,...,NaN,Drama,NaN,id,Disney+ Hotstar,ID,Bahasa indonesia,MD Pictures,Indonesia,46
158558,235754,"Zachraň se, kdo můžeš!",1,3,cs,0,0.0,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,CZ,NaN,NaN,NaN,0
158559,235753,Life 360,2,5,en,0,0.0,TV Show Details,False,NaN,...,NaN,NaN,NaN,NaN,NaN,US,NaN,NaN,NaN,0
158560,235769,Obituary,1,6,en,0,0.0,An obituarist working at a small-town newspape...,False,/uKVDsalydSWDTjdg7ALFP3vUWe.jpg,...,NaN,"Comedy, Crime, Drama",NaN,en,RTÉ One,IE,English,NaN,NaN,0
158561,235768,天罚-二战全纪实,1,100,zh,0,0.0,NaN,False,NaN,...,NaN,"Documentary, War & Politics",NaN,zh,NaN,CN,普通话,NaN,NaN,0
158562,235767,我们这一摊,1,13,zh,0,0.0,NaN,False,NaN,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158563,235766,山里来了熊孩子,1,13,zh,0,0.0,NaN,False,/qAdXlecuPyg2jb2GbRXzHEUcpmw.jpg,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158564,235765,开心超人联盟之勇敢之城1——棋兽传奇,1,6,zh,0,0.0,NaN,False,/ksuAmIZRkBMshJtkHtMDwyYLmDh.jpg,...,NaN,"Animation, Kids",NaN,NaN,"iQiyi, Youku, Mango TV, Tencent Video, Aniworl...",CN,NaN,广东明星创意动画有限公司,NaN,0
158565,38212,Anhoniyon Ka Andhera,0,0,en,0,0.0,Anhoniyon Ka Andhera is a weekly Indian televi...,False,NaN,...,NaN,NaN,NaN,en,Colors,IO,English,NaN,NaN,60

In [ ]:
# чтобы увидеть краткую ифнормацию по таблице применяется метод info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158566 entries, 0 to 158565
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    158566 non-null  int64
 1   name                  158561 non-null  object
 2   number_of_seasons     158566 non-null  int64
 3   number_of_episodes    158566 non-null  int64
 4   original_language     158566 non-null  object
 5   vote_count            158566 non-null  int64
 6   vote_average          158566 non-null  float64
 7   overview              89357 non-null   object
 8   adult                 158566 non-null  bool
 9   backdrop_path         74263 non-null   object
 10  first_air_date        128542 non-null  object
 11  last_air_date         130608 non-null  object
 12  homepage              49380 non-null   object
 13  in_production         158566 non-null  bool
 14  original_name         158561 non-null  object
 15  popularity            158566 non-null  float64
 16  poster_path           102277 non-null  object
 17  type                  158566 non-null  object
 18  status                158566 non-null  object
 19  tagline               5211 non-null    object
 20  genres                94479 non-null   object
 21  created_by            34840 non-null   object
 22  languages             104964 non-null  object
 23  networks              93978 non-null   object
 24  origin_country        127552 non-null  object
 25  spoken_languages      104256 non-null  object
 26  production_companies  56595 non-null   object
 27  production_countries  73556 non-null   object
 28  episode_run_time      158566 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(20)
memory usage: 33.0+ MB

Видим сводную таблицу вида имя колонки - количество не пустых строк - тип данных.
Подробнее анализировать это научимся в следующих уроках. Пока можно заметить что во всех столбцах, где число меньше 158566 - это означает, что в столбце есть пропуски в данных.

In [ ]:
# для того чтобы узнать сводные математические данные по числовым столбцам используется describe
df.describe()

,id,number_of_seasons,number_of_episodes,vote_count,vote_average,popularity,episode_run_time
count,158566.000000,158566.000000,158566.000000,158566.000000,158566.000000,158566.000000,158566.000000
mean,103087.369556,1.566761,25.388084,14.144300,2.449529,5.920561,23.646381
std,71300.480941,3.005675,138.793401,196.746395,3.493419,40.589289,47.914734
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,42967.250000,1.000000,1.000000,0.000000,0.000000,0.600000,0.000000
50%,91521.500000,1.000000,6.000000,0.000000,0.000000,0.866000,8.000000
75%,146110.750000,1.000000,20.000000,1.000000,6.000000,2.451000,43.000000
max,236368.000000,240.000000,20839.000000,21857.000000,10.000000,3707.008000,6032.000000

## Series

In [ ]:
# еще раз вглянем на данные
df.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [ ]:
# если мы хотим вывыести не всю таблицу, а только один столбец, например name- то это делается так
df['name']

0              Game of Thrones
1                  Money Heist
2              Stranger Things
3             The Walking Dead
4                      Lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    Anhoniyon Ka Andhera
Name: name, Length: 158566, dtype: object

In [ ]:
# или так
df.name

0              Game of Thrones
1                  Money Heist
2              Stranger Things
3             The Walking Dead
4                      Lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    Anhoniyon Ka Andhera
Name: name, Length: 158566, dtype: object

Если таблица - это объект DataFrame,  то такой столбец - это объект Series. Логика работы с ним немного отличается. Внизу столбца написаны его имя, длина и тип данных.
Для строк и смешанных типов данных будет стоять object. Для целых чисел - int, float для дробных, datetime для даты и времени, bool для булевых.

In [ ]:
# длину столбца можно поссмотреть так
len(df['name'])

158566

In [ ]:
# или так
df['name'].shape

(158566,)

In [ ]:
#  для числовых столбцов можно применять базовые математчисекие операции
# сумма, максимум, минимум, среднее
df['number_of_episodes'].sum(), df['number_of_episodes'].max(), df['number_of_episodes'].min() , df['number_of_episodes'].mean()

(4025687, 20839, 0, 25.38808445694537)

In [ ]:
#  если мы хотим вывести нескоьлко столбцов, то их нужно перечислить и взять в двойныйе скобочки
df[["id", "name"]]

            id                  name
0         1399       Game of Thrones
1        71446           Money Heist
2        66732       Stranger Things
3         1402      The Walking Dead
4        63174               Lucifer
...        ...                   ...
158561  235768              天罚-二战全纪实
158562  235767                 我们这一摊
158563  235766               山里来了熊孩子
158564  235765    开心超人联盟之勇敢之城1——棋兽传奇
158565   38212  Anhoniyon Ka Andhera

[158566 rows x 2 columns]

In [ ]:
# Одинарные выдадут ошибку
df["id", "name"]

KeyError: ('id', 'name')

Для столбцов тоже можно применять  методы head и tail

In [ ]:
df['id'].head()

0     1399
1    71446
2    66732
3     1402
4    63174
Name: id, dtype: int64

In [ ]:
df['id'].tail()

158561    235768
158562    235767
158563    235766
158564    235765
158565     38212
Name: id, dtype: int64

In [ ]:
df['id'][25]

48866

## Запись данных

Допустим мы прочитали данные и что то в них изменили. Теперь нам нужно сохранить результат. Это делается методом to_csv, при этом в названии файла надо обязательно указать расширение .csv.

In [ ]:
df.to_csv('test_full.csv')

В таком виде, как выше, метод сохранит данные в файл в текущей директории в файле с разделителем в виде запятой.  
Если данных много, то процесс записи можнт идти долго. Таблицу можно сохранять не целиком, а только нужные строки или столбцы, что также сократит время записи.

In [ ]:
# сохраним первые 50 строк
df.head(50).to_csv('test.csv')

Если открыть сохраненные данные, то можно увидеть сто там появился лишний безымянный столбец - это индексы или номера строк. Если они нам не нужны, то можно их удалить, указав index=False.

In [ ]:
df.head(50).to_csv('test.csv',  index=False)

Как уже было сказано выше, по умолчанию все сохраняется с запятой в роли разделителя.

In [ ]:
# вот эти две записи делают идентичную операцию
df.head(50).to_csv('test.csv')
df.head(50).to_csv('test.csv', sep=',')

Если мы хотим сменить разделитель, то надо указать параметр sep

In [ ]:
# сохраняем данные через точку с запятой
df.head(50).to_csv('test.csv',  index=False, sep=';')

In [ ]:
# сохраняем данные через табуляцию
df.head(50).to_csv('test.tsv',  index=False, sep='\t')

In [ ]:
# чтобы сохранить данные в эксель применяется to_excel
df.head(50).to_excel('test.xlsx', index=False)

Допустим мы хотим создать эксель файл с некскольими старницами. На первой странице сохраним первые 50 строк, а на второй - последние 50 строк таблицы.

In [ ]:
#  данные сохраняются на страницу методом to_excel с укаанием имени страницы
head = df.head(50)
tail = df.tail(50)

writer = pd.ExcelWriter('test.xlsx')
head.to_excel(writer, 'sheet1')
tail.to_excel(writer, 'sheet2')
writer.save()

/var/folders/0l/z49zyz2n3_g2hd8pc14j7mzm2gwj7z/T/ipykernel_53446/529920630.py:7: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [ ]:
# то же самое можно сделать через меннеджер контекста - так правильнее с токи зрения использования памяти
with pd.ExcelWriter('test2.xlsx') as writer:
    df.head(50).to_excel(writer, 'sheet1')
    df.tail(50).to_excel(writer, 'sheet2')

Подведем итоги. В ходе занятия мы:
- узнали, что такое библиотека Pandas, что такое DataFrame и Series;
- научились считывать и сохранять данные
- научились первичному осмотру данных