<a href="https://colab.research.google.com/github/A-l-E-v/ML-Engineer/blob/main/2_2_basic_operation_conspect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.2 Pandas. Базовые операции

В этом уроке мы с вами научимся производить базовые операции на данными.

In [ ]:
# импортируем библиотеку
import pandas as pd

In [ ]:
# прочитаем данные
df = pd.read_csv("/Users/19247629/Documents/orig/orig_df.csv")
df

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158561,235768,天罚-二战全纪实,1,100,zh,0,0.000,NaN,False,NaN,...,NaN,"Documentary, War & Politics",NaN,zh,NaN,CN,普通话,NaN,NaN,0
158562,235767,我们这一摊,1,13,zh,0,0.000,NaN,False,NaN,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158563,235766,山里来了熊孩子,1,13,zh,0,0.000,NaN,False,/qAdXlecuPyg2jb2GbRXzHEUcpmw.jpg,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158564,235765,开心超人联盟之勇敢之城1——棋兽传奇,1,6,zh,0,0.000,NaN,False,/ksuAmIZRkBMshJtkHtMDwyYLmDh.jpg,...,NaN,"Animation, Kids",NaN,NaN,"iQiyi, Youku, Mango TV, Tencent Video, Aniworl...",CN,NaN,广东明星创意动画有限公司,NaN,0
158565,38212,Anhoniyon Ka Andhera,0,0,en,0,0.000,Anhoniyon Ka Andhera is a weekly Indian televi...,False,NaN,...,NaN,NaN,NaN,en,Colors,IO,English,NaN,NaN,60

In [ ]:
# выведем сводную информацию по столбцам
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158566 entries, 0 to 158565
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    158566 non-null  int64
 1   name                  158561 non-null  object
 2   number_of_seasons     158566 non-null  int64
 3   number_of_episodes    158566 non-null  int64
 4   original_language     158566 non-null  object
 5   vote_count            158566 non-null  int64
 6   vote_average          158566 non-null  float64
 7   overview              89357 non-null   object
 8   adult                 158566 non-null  bool
 9   backdrop_path         74263 non-null   object
 10  first_air_date        128542 non-null  object
 11  last_air_date         130608 non-null  object
 12  homepage              49380 non-null   object
 13  in_production         158566 non-null  bool
 14  original_name         158561 non-null  object
 15  popularity            158566 non-null  float64
 16  poster_path           102277 non-null  object
 17  type                  158566 non-null  object
 18  status                158566 non-null  object
 19  tagline               5211 non-null    object
 20  genres                94479 non-null   object
 21  created_by            34840 non-null   object
 22  languages             104964 non-null  object
 23  networks              93978 non-null   object
 24  origin_country        127552 non-null  object
 25  spoken_languages      104256 non-null  object
 26  production_companies  56595 non-null   object
 27  production_countries  73556 non-null   object
 28  episode_run_time      158566 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(20)
memory usage: 33.0+ MB

## Числа

Сначала научимся работать с числовыми столбцами. Возьмем для примера vote_count.

In [ ]:
# выведем столбец
df['vote_count']

0         21857
1         17836
2         16161
3         15432
4         13870
          ...
158561        0
158562        0
158563        0
158564        0
158565        0
Name: vote_count, Length: 158566, dtype: int64

In [ ]:
# ко всем данным в столбце по строчно можно применить любую математическую операцию
df['vote_count'] + 100

0         21957
1         17936
2         16261
3         15532
4         13970
          ...
158561      100
158562      100
158563      100
158564      100
158565      100
Name: vote_count, Length: 158566, dtype: int64

К каждому значению в столбце прибавилось 100.

In [ ]:
# вычтем 100
df['vote_count'] - 100

0         21757
1         17736
2         16061
3         15332
4         13770
          ...
158561     -100
158562     -100
158563     -100
158564     -100
158565     -100
Name: vote_count, Length: 158566, dtype: int64

In [ ]:
# теперь умножим на 100
df['vote_count'] * 100

0         2185700
1         1783600
2         1616100
3         1543200
4         1387000
           ...
158561          0
158562          0
158563          0
158564          0
158565          0
Name: vote_count, Length: 158566, dtype: int64

In [ ]:
#  теперь поделим
df['vote_count'] / 100

0         218.57
1         178.36
2         161.61
3         154.32
4         138.70
           ...
158561      0.00
158562      0.00
158563      0.00
158564      0.00
158565      0.00
Name: vote_count, Length: 158566, dtype: float64

Обратите внимание, что результат имеет тип float64 а не int64. Важное замечание, во всех случаях мы совершали операции, на выходе которой нам возвращался резульат, который мы нигде не сохраняли. Если мы хотим сохранить его в отдельный столбец, то это можно сдклать так.

In [ ]:
# сделамем несколько проивзольных операций и сохраним их в новый столбец
df['test_result'] = df['vote_count'] * 2 + 4 - 6
df['test_result']

0         43712
1         35670
2         32320
3         30862
4         27738
          ...
158561       -2
158562       -2
158563       -2
158564       -2
158565       -2
Name: test_result, Length: 158566, dtype: int64

In [ ]:
# выведем два числовых столбца
df[['vote_count', 'vote_average']]

        vote_count  vote_average
0            21857         8.442
1            17836         8.257
2            16161         8.624
3            15432         8.121
4            13870         8.486
...            ...           ...
158561           0         0.000
158562           0         0.000
158563           0         0.000
158564           0         0.000
158565           0         0.000

[158566 rows x 2 columns]

In [ ]:
#  столбцы можно складывать между собой...
df['vote_count'] + df['vote_average']

0         21865.442
1         17844.257
2         16169.624
3         15440.121
4         13878.486
            ...
158561        0.000
158562        0.000
158563        0.000
158564        0.000
158565        0.000
Length: 158566, dtype: float64

In [ ]:
# ... и умножать
df['vote_count'] * df['vote_average']

0         184516.794
1         147271.852
2         139372.464
3         125323.272
4         117700.820
             ...
158561         0.000
158562         0.000
158563         0.000
158564         0.000
158565         0.000
Length: 158566, dtype: float64

In [ ]:
# ... и делить
df['vote_count'] / df['vote_average']

0         2589.078417
1         2160.106576
2         1873.956401
3         1900.258589
4         1634.456752
             ...
158561            NaN
158562            NaN
158563            NaN
158564            NaN
158565            NaN
Length: 158566, dtype: float64

В местах где мы 0 делим на 0 - повяивлись NaN. Что это такое? Это родсвтенник уже известного вам None из библиотеки numpy, а именно np.nan. Только с NaN можно совершать немного другой ряд операций

In [ ]:
import numpy as np

In [ ]:
# вот как они выглядят при выводе
None, np.nan

(None, nan)

np.nan считается дробным float64 значением, поэтому если в целочисленном столбце есть хоть один nan, то вся колонка становится float64.

In [ ]:
df['vote_count'].replace(0, np.nan)

0         21857.0
1         17836.0
2         16161.0
3         15432.0
4         13870.0
           ...
158561        NaN
158562        NaN
158563        NaN
158564        NaN
158565        NaN
Name: vote_count, Length: 158566, dtype: float64

In [ ]:
# если вместо 0 постаавить None, то тип столбца будет смешанным
df['vote_count'].replace(0, None)

0         21857
1         17836
2         16161
3         15432
4         13870
          ...
158561     None
158562     None
158563     None
158564     None
158565     None
Name: vote_count, Length: 158566, dtype: object

In [ ]:
#  в случае такой замены, первые элементы останутся целого типа
type(df['vote_count'].replace(0, None)[0])

int

In [ ]:
# операции проверки None и  np.nan  могут выводить сбивающие с толку результаты
np.nan is np.nan, np.nan is None, None is np.nan

(True, False, False)

In [ ]:
# поэтмоу проще для проверки применять функцию pd.isnull()
pd.isnull(None), pd.isnull(np.nan)

(True, True)

In [ ]:
# на вход можно подать и массив
pd.isnull([None, np.nan])

array([ True,  True])

In [ ]:
#  существует и обратная функция
pd.notnull([None, np.nan])

array([False, False])

Вернемся к числам и операциям с ними.

In [ ]:
# посмотрим на столбец
df['vote_count']

0         21857
1         17836
2         16161
3         15432
4         13870
          ...
158561        0
158562        0
158563        0
158564        0
158565        0
Name: vote_count, Length: 158566, dtype: int64

In [ ]:
# любое число в нем можно заменить на любое другое. Пусть мы. хотим заменить 0 на 100
df['vote_count'].replace(0,  100)

0         21857
1         17836
2         16161
3         15432
4         13870
          ...
158561      100
158562      100
158563      100
158564      100
158565      100
Name: vote_count, Length: 158566, dtype: int64

In [ ]:
#  или заменить 0 на среднее значение от всего столбца
df['vote_count'].replace(0,  df['vote_count'].mean())

0         21857.0000
1         17836.0000
2         16161.0000
3         15432.0000
4         13870.0000
             ...
158561       14.1443
158562       14.1443
158563       14.1443
158564       14.1443
158565       14.1443
Name: vote_count, Length: 158566, dtype: float64

Типы столбцов можно менять

In [ ]:
#  давайте заменим int на float
df['vote_count'].astype('float')

0         21857.0
1         17836.0
2         16161.0
3         15432.0
4         13870.0
           ...
158561        0.0
158562        0.0
158563        0.0
158564        0.0
158565        0.0
Name: vote_count, Length: 158566, dtype: float64

In [ ]:
#  а теперь float  на int
df['vote_average'].astype('int')

0         8
1         8
2         8
3         8
4         8
         ..
158561    0
158562    0
158563    0
158564    0
158565    0
Name: vote_average, Length: 158566, dtype: int64

In [ ]:
# а теперь сделаем все числа строками, то есть приведем к типу str
df['str_vote_count'] = df['vote_count'].astype("str")
df['str_vote_count']

0         21857
1         17836
2         16161
3         15432
4         13870
          ...
158561        0
158562        0
158563        0
158564        0
158565        0
Name: str_vote_count, Length: 158566, dtype: object

In [ ]:
df['str_vote_count'][0]

In [ ]:
# переведм строку обратно в число и умножим первый элемент на 100
df['str_vote_count'].astype('int')[0]*100

2185700

## Строки

Теперь научимся работать со строками.

In [ ]:
# выведем столбец
df['name']

0              Game of Thrones
1                  Money Heist
2              Stranger Things
3             The Walking Dead
4                      Lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    Anhoniyon Ka Andhera
Name: name, Length: 158566, dtype: object

In [ ]:
#  ко всем данным можно прбавить другую строку
df['name'] + "_test"

0              Game of Thrones_test
1                  Money Heist_test
2              Stranger Things_test
3             The Walking Dead_test
4                      Lucifer_test
                    ...
158561                天罚-二战全纪实_test
158562                   我们这一摊_test
158563                 山里来了熊孩子_test
158564      开心超人联盟之勇敢之城1——棋兽传奇_test
158565    Anhoniyon Ka Andhera_test
Name: name, Length: 158566, dtype: object

In [ ]:
#  а вот вычесть нельзя
df['name'] - "Game"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
#  если мы хотим заменить слово внутри всех строк, то так делать не правльно
df['name'].replace("Game", "test")

0              Game of Thrones
1                  Money Heist
2              Stranger Things
3             The Walking Dead
4                      Lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    Anhoniyon Ka Andhera
Name: name, Length: 158566, dtype: object

In [ ]:
# правильно делать вот так, через .str
df['name'].str.replace("Game", "test")

0              test of Thrones
1                  Money Heist
2              Stranger Things
3             The Walking Dead
4                      Lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    Anhoniyon Ka Andhera
Name: name, Length: 158566, dtype: object

## Булевы данные

Научимся работать с логическими данными.

In [ ]:
df['adult']

0         False
1         False
2         False
3         False
4         False
          ...
158561    False
158562    False
158563    False
158564    False
158565    False
Name: adult, Length: 158566, dtype: bool

In [ ]:
# на уровне питона True равен единице. поэтому при желании с булевым столбцом можно провдить базовые операции
df['adult']+1 *2

0         2
1         2
2         2
3         2
4         2
         ..
158561    2
158562    2
158563    2
158564    2
158565    2
Name: adult, Length: 158566, dtype: int64

In [ ]:
# или проссумировать все True в столбце
df['adult'].sum()

1938

1938 раз встречается True в столбце adult - это значит что в данных встречается 1938 фильмов для взрослых.

## Дата и время

Научимся работать с датой и временем.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158566 entries, 0 to 158565
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    158566 non-null  int64
 1   name                  158561 non-null  object
 2   number_of_seasons     158566 non-null  int64
 3   number_of_episodes    158566 non-null  int64
 4   original_language     158566 non-null  object
 5   vote_count            158566 non-null  int64
 6   vote_average          158566 non-null  float64
 7   overview              89357 non-null   object
 8   adult                 158566 non-null  bool
 9   backdrop_path         74263 non-null   object
 10  first_air_date        128542 non-null  object
 11  last_air_date         130608 non-null  object
 12  homepage              49380 non-null   object
 13  in_production         158566 non-null  bool
 14  original_name         158561 non-null  object
 15  popularity            158566 non-null  float64
 16  poster_path           102277 non-null  object
 17  type                  158566 non-null  object
 18  status                158566 non-null  object
 19  tagline               5211 non-null    object
 20  genres                94479 non-null   object
 21  created_by            34840 non-null   object
 22  languages             104964 non-null  object
 23  networks              93978 non-null   object
 24  origin_country        127552 non-null  object
 25  spoken_languages      104256 non-null  object
 26  production_companies  56595 non-null   object
 27  production_countries  73556 non-null   object
 28  episode_run_time      158566 non-null  int64
 29  test_result           158566 non-null  int64
 30  test                  158566 non-null  float64
 31  test 56               158566 non-null  float64
 32  str_vote_count        158566 non-null  object
dtypes: bool(2), float64(4), int64(6), object(21)
memory usage: 37.8+ MB

Датой явно являются столбцы first_air_date и last_air_date, однако они имеют тип object, а не datetime -  такое бывает при чтениии данных.

In [ ]:
df['first_air_date']

0         2011-04-17
1         2017-05-02
2         2016-07-15
3         2010-10-31
4         2016-01-25
             ...
158561    2015-01-01
158562    2023-09-02
158563    2023-09-16
158564    2023-09-26
158565           NaN
Name: first_air_date, Length: 158566, dtype: object

In [ ]:
# первый элемент в столбце является строкой
df['first_air_date'][0]

'2011-04-17'

Чтобы изменить тип, применяется метод to_datetime и указывется нужный нам формат по следующим правилам.

* %d — день месяца (от 01 до 31)
* %m — номер месяца (от 01 до 12)
* %Y — четырёхзначный номер года (например, 2019)
* Z — стандартный разделитель даты и времени
* T — стандартный разделитель даты и времени
* %H — номер часа в 24-часовом формате
* %I — номер часа в 12-часовом формате
* %M — минуты (от 00 до 59)
* %S — секунды (от 00 до 59)  

Пример:
"01.04.2019Z11:03:00"  
%d.%m.%YZ%H:%M:%S

В нашем случае '2011-04-17' == '%Y-%m-%d'

In [ ]:
# изменим тип данных
pd.to_datetime(df['first_air_date'], format='%Y-%m-%d')

0        2011-04-17
1        2017-05-02
2        2016-07-15
3        2010-10-31
4        2016-01-25
            ...
158561   2015-01-01
158562   2023-09-02
158563   2023-09-16
158564   2023-09-26
158565          NaT
Name: first_air_date, Length: 158566, dtype: datetime64[ns]

Обратите внимание, что nan отобразился в NaT (not a time).

Так же, как и вслуче выполнения математичсеких операций, все наши вычисления никуда не сохраняются, пока мы явно не укажем знак присвоения.

In [ ]:
# измением тип данных и перезапишем столбец
df['first_air_date_dt'] = pd.to_datetime(df['first_air_date'], format='%Y-%m-%d')

In [ ]:
df['first_air_date_dt']

0        2011-04-17
1        2017-05-02
2        2016-07-15
3        2010-10-31
4        2016-01-25
            ...
158561   2015-01-01
158562   2023-09-02
158563   2023-09-16
158564   2023-09-26
158565          NaT
Name: first_air_date_dt, Length: 158566, dtype: datetime64[ns]

Теперь столбец не строковый, а datetime64 - с ним можно делать ряд операций.

In [ ]:
# наприер достать только год, не забыв указать .dt
df['first_air_date_dt'].dt.year

0         2011.0
1         2017.0
2         2016.0
3         2010.0
4         2016.0
           ...
158561    2015.0
158562    2023.0
158563    2023.0
158564    2023.0
158565       NaN
Name: first_air_date_dt, Length: 158566, dtype: float64

In [ ]:
#  или только месяц
df['first_air_date_dt'].dt.month

0          4.0
1          5.0
2          7.0
3         10.0
4          1.0
          ...
158561     1.0
158562     9.0
158563     9.0
158564     9.0
158565     NaN
Name: first_air_date_dt, Length: 158566, dtype: float64

In [ ]:
#  или только день
df['first_air_date_dt'].dt.day

0         17.0
1          2.0
2         15.0
3         31.0
4         25.0
          ...
158561     1.0
158562     2.0
158563    16.0
158564    26.0
158565     NaN
Name: first_air_date_dt, Length: 158566, dtype: float64

Данные можно не только извлечь, но и усечь.

In [ ]:
# усечь до месяца
df['first_air_date_dt'].dt.to_period('M')

In [ ]:
# или до года
df['first_air_date_dt'].dt.to_period('Y')

0         2011
1         2017
2         2016
3         2010
4         2016
          ...
158561    2015
158562    2023
158563    2023
158564    2023
158565     NaT
Name: first_air_date_dt, Length: 158566, dtype: period[A-DEC]

In [ ]:
# или до дня
df['first_air_date_dt'].dt.to_period('D')

0         2011-04-17
1         2017-05-02
2         2016-07-15
3         2010-10-31
4         2016-01-25
             ...
158561    2015-01-01
158562    2023-09-02
158563    2023-09-16
158564    2023-09-26
158565           NaT
Name: first_air_date_dt, Length: 158566, dtype: period[D]

## Функции

Все дейтвия которые мы делали, можно привести к виду функций.

In [ ]:
df['name']

0              Game of Thrones
1                  Money Heist
2              Stranger Things
3             The Walking Dead
4                      Lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    Anhoniyon Ka Andhera
Name: name, Length: 158566, dtype: object

Например функцию приведения текста к ниижнему регистру можно сделать так:

In [ ]:
df['name'].str.lower()

0              game of thrones
1                  money heist
2              stranger things
3             the walking dead
4                      lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    anhoniyon ka andhera
Name: name, Length: 158566, dtype: object

In [ ]:
# ... или так.  Только теперь мы это сделали через apply и лямбда функции
df['name'].apply(lambda x: x.lower())

AttributeError: 'float' object has no attribute 'lower'

При попытке выполнения мы получаем ошибку, так как если х не строка, то у него нет метода lower. Напомню, что в конце столбца стоит np.nan. Поэтому добавим в функцию простейшую проверку: если nan, то возвращаем None, а если нет, то снижаем регистр букв.

In [ ]:
df['name'].apply(lambda x: x.lower() if pd.notnull(x) else None)

0              game of thrones
1                  money heist
2              stranger things
3             the walking dead
4                      lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    anhoniyon ka andhera
Name: name, Length: 158566, dtype: object

In [ ]:
# снизим регистр и добавим подстроку в конец
df['name'].apply(lambda x: x.lower() + " test" if pd.notnull(x) else None)

0              game of thrones test
1                  money heist test
2              stranger things test
3             the walking dead test
4                      lucifer test
                    ...
158561                天罚-二战全纪实 test
158562                   我们这一摊 test
158563                 山里来了熊孩子 test
158564      开心超人联盟之勇敢之城1——棋兽传奇 test
158565    anhoniyon ka andhera test
Name: name, Length: 158566, dtype: object

Большие и сложные функции лучше выносить отдельно. Создадим функцию, которая приводит все к нижнему регистру и заменяет "the" на "ze"

In [ ]:
def test_func(film_name):
    if pd.notnull(film_name):
        clean_name = film_name.lower()
        clean_name = clean_name.replace("the", "ze")
    else:
        clean_name = None
    return clean_name

In [ ]:
# применим функцию к сотлбцу
df['name'].apply(test_func)

0              game of thrones
1                  money heist
2              stranger things
3              ze walking dead
4                      lucifer
                  ...
158561                天罚-二战全纪实
158562                   我们这一摊
158563                 山里来了熊孩子
158564      开心超人联盟之勇敢之城1——棋兽传奇
158565    anhoniyon ka andhera
Name: name, Length: 158566, dtype: object

Если функция затрагивает несколько столбцов ( например мноает их), то  необходимо указать axis=1

In [ ]:
df['number_of_seasons'] * df['number_of_episodes']

0          584
1          123
2          136
3         1947
4          558
          ...
158561     100
158562      13
158563      13
158564       6
158565       0
Length: 158566, dtype: int64

In [ ]:
def miltiply_col(row):
    result = row['number_of_seasons'] * row['number_of_episodes']
    return result

In [ ]:
df.apply(miltiply_col, axis=1)

Подведем итоги. В ходе занятия мы научились обрабатывать числовые, строковые, булевы и временнЫе данные, а также применять функции.